<form id="signUpForm" action='/signUp' method="POST">
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Username</label>
    <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
    <div class="form-text">We'll never share your name with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="searchContainer">
    <div name="expSearch">
      <p>Вы хотите: </p>
      <div class="form-check form-check-inline">
        <input name="mentOrNot" value="1" class="form-check-input" type="radio" id="inlineCheckbox1">
        <label class="form-check-label" for="inlineCheckbox1">Найти ментора</label>
      </div>
      <div class="form-check form-check-inline">
        <input name="mentOrNot" value="2" class="form-check-input" type="radio" id="inlineCheckbox2">
        <label class="form-check-label" for="inlineCheckbox2">Стать ментором</label>
      </div>
    </div>

    <div class="containerForMentors"></div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
