* {
  background-color: #e9ecef;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9ecef;
}

.collapse {
  justify-content: center;
}

.searchbar {
  margin: 20px;
}

#signbutton {
  background-color: #586d8d;
}

#regbutton {
  background-color: #586d8d;
}

#mentorbutton {
  background-color: #586d8d;
}

#searchbutton {
  background-color: #586d8d;
}
